@import "../../common/colors.scss";

.watchlist-section {
  padding: 20px;
  background: $primari-color;
  color: $font-primary;
  text-align: center;
}

.watchlist-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.watchlist-category {
  margin-bottom: 30px;
}

.watchlist-item {
  background: $secondary-color;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 15px;
}

.watchlist-item:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.watchlist-poster {
  width: 100%;
  max-height: 270px;
  object-fit: cover;
  border-radius: 10px;
}

.watchlist-info {
  padding: 12px;
  width: 100%;
}

.watchlist-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  color: $font-secondary;
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imdb-rating {
  font-size: 16px;
  font-weight: bold;
  color: gold;
  text-align: right;
}

.buy-button, .delete-button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  // text-transform: uppercase;
  margin-top: 8px;
}

.buy-button {
  background: green;
  color: $font-primary;
  margin-bottom: 5px;
}

.buy-button:hover {
  background: darkgreen;
  transform: scale(1.05);
}

.delete-button {
  background: red;
  color: $font-primary;
}

.delete-button:hover {
  background: darkred;
  transform: scale(1.05);
}

.empty-message {
  font-size: 20px;
  color: lighten($font-primary, 40%);
  margin-top: 25px;
  font-style: italic;
}
